<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer:</strong>
  <%= @sale.buyer_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale.product_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @sale.price %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sale.amount %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @sale.supplier_id %>
</p>

<p>
  <strong>File:</strong>
  <%= @sale.file %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
