<!DOCTYPE html>
<html>
<head>
  <title>Avaliação de desenvolvedor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
   <%= link_to 'Sales', sales_path %> / 
   <%= link_to 'Products', products_path %> / 
   <%= link_to 'Buyers', buyers_path %> / 
   <%= link_to 'Suppliers', suppliers_path %> /
</div>
</br>
<div>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
</div>
<%= yield %>

</body>
</html>
